<?xml version="1.0" encoding="UTF-8"?>
<!--
<ontConfig>
	<ontology>
		<relation id="1">
			<relationType name="subtype" mappingSymbol="&lt;"/>
			<relationType name="supertype" mappingSymbol="&gt;"/>
			<display color="#0000ff" icon="someIconPath"/>
		</relation>
		......
		<conceptProperty id="description"/>
		<conceptProperty id="creator"/>
	</ontology>
	<rdfMapping>
		<map id="1" type="supertype" tag="subClassOf"/>
		<map id="2" type="synonym" tag="label"/>
		<map id="4" type="PartOf" tag="part"/>
		<map id="7" type="inclusive" tag="jointWith"/>
		<map id="description" tag="comment"/>
		<map id="creator" tag="Creator"/>
	</rdfMapping>
</ontConfig>
-->
<ontConfig>
	<ontology>
		<relation id="1">
			<relationType name="subtype" mappingSymbol="&lt;"/>
			<relationType name="supertype" mappingSymbol="&gt;"/>
			<display color="#0000ff"/>
		</relation>
		<relation id="3">
			<relationType name="instance" mappingSymbol=":" />
			<relationType name="instanceOf" mappingSymbol="^" />
			<display color="#0000ff"/>
		</relation>
		<relation id="2">
			<relationType name="synonym"/>
			<display color="#FF99FF"/>
		</relation>
		<relation id="4">
			<relationType name="part" mappingSymbol="p"/>
			<relationType name="partOf" mappingSymbol="P"/>
			<display color="#FFFF99"/>
		</relation>
		<relation id="5">
			<relationType name="member" mappingSymbol="m"/>
			<relationType name="memberOf" mappingSymbol="M"/>
			<display color="#0000ff"/>
		</relation>
		<relation id="6">
			<relationType name="substance" mappingSymbol="s"/>
			<relationType name="substanceOf" mappingSymbol="S"/>
			<display color="#0000ff"/>
		</relation>
		<relation id="7">
			<relationType name="inclusive"/>
			<display color="#0000ff"/>
		</relation>
		<relation id="8">
			<relationType name="exclusive"/>
			<display color="#0000ff"/>
		</relation>
		
		<conceptProperty id="description"/>
		<conceptProperty id="creator"/>
	</ontology>
	<rdfMapping>
		<relationLinks>
			<map id="1" type="supertype" tag="subClassOf"/>
			<map id="2" type="synonym" tag="label"/>
			<map id="4" type="PartOf" tag="part"/>
			<map id="7" type="inclusive" tag="jointWith"/>
		</relationLinks>
		<conceptProperties>
			<map id="description" tag="comment"/>
			<map id="creator" tag="Creator"/>
		</conceptProperties>
	</rdfMapping>
</ontConfig>
