<?xml version="1.0" encoding="UTF-8"?>
<!--
<ontConfig>
	<ontology>
		<relation id="1">
			<relationType name="subtype" mappingSymbol="&lt;"/>
			<relationType name="supertype" mappingSymbol="&gt;"/>
			<display color="#0000ff" icon="someIconPath"/>
		</relation>
		......
		<conceptProperty id="description"/>
		<conceptProperty id="creator"/>
	</ontology>
	<rdfMapping>
		<map id="1" type="supertype" tag="subClassOf"/>
		<map id="2" type="synonym" tag="label"/>
		<map id="4" type="PartOf" tag="part"/>
		<map id="7" type="inclusive" tag="jointWith"/>
		<map id="description" tag="comment"/>
		<map id="creator" tag="Creator"/>
	</rdfMapping>
</ontConfig>
-->
<!--
http://www.gotomy.com/color.html
subtype:	blue:33CCFF
instance:	pink:FF99CC
synonym:	orange:FFCC99
part:		green:00FFCC
member:		yellow:FFFFCC
substance: 	gray:C0C0C0 
inclusive: 	purple:9999FF
-->
<ontConfig>
	<ontology>
		<relation id="1">
			<relationType name="subtype" mappingSymbol="&lt;"/>
			<relationType name="supertype" mappingSymbol="&gt;"/>
			<display color="#33CCFF" symbol="&lt;"/>
		</relation>
		<relation id="2">
			<relationType name="instance" mappingSymbol=":"/>
			<relationType name="instanceOf" mappingSymbol="^"/>
			<display color="#FF99CC" symbol=":"/>
		</relation>
		<relation id="3">
			<relationType name="part" mappingSymbol="p"/>
			<relationType name="partOf" mappingSymbol="P"/>
			<display color="#00FFCC" symbol="p"/>
		</relation>
		<relation id="4">
			<relationType name="member" mappingSymbol="m"/>
			<relationType name="memberOf" mappingSymbol="M"/>
			<display color="#FFFFCC" symbol="m"/>
		</relation>
		<relation id="5">
			<relationType name="substance" mappingSymbol="s"/>
			<relationType name="substanceOf" mappingSymbol="S"/>
			<display color="#C0C0C0" symbol="s"/>
		</relation>
		<relation id="6">
			<relationType name="inclusive"/>
			<display color="#9999FF" symbol="i"/>
		</relation>
		<relation id="7">
			<relationType name="exclusive"/>
			<display color="#9999FF" symbol="e"/>
		</relation>
		<conceptProperty id="Description"/>
		<conceptProperty id="Creator"/>
		<conceptProperty id="Synonym"/>
	</ontology>
	<rdfMapping>
		<relationLinks>
			<map id="1" type="supertype" tag="subClassOf"/>
			<map id="3" type="part" tag="part"/>
			<map id="6" type="inclusive" tag="jointWith"/>
		</relationLinks>
		<conceptProperties>
			<map id="Description" tag="comment"/>
			<map id="Creator" tag="Creator"/>
			<map id="Synonym" tag="label"/>
		</conceptProperties>
	</rdfMapping>
</ontConfig>
