.TITLE {display: block; font-size: 36pt; font-weigth: bold;  text-decoration: underline; 
font-style: italic; color: navy}
P { display: block; margin-top: 10 ; font-family:	Arial; font-size: 12pt}
.OntoRama {font-size: 18pt; font-style: italic; }
