<?xml version="1.0" encoding="UTF-8"?>
<!--

transitive:
"extends-t"
"calls-t"
"implements-t"
"in-t"

non-transitive:
"is-a"
"in"
"return"
"extends"
"calls"
"name"
"scope"
"has-param"
"implements"
"throws"
-->
<ontConfig>
	<ontology>
        <relation id="1">
            <relationType name="contains" mappingSymbol="c"/>
            <relationType name="-contains" mappingSymbol="c"/>
            <display color="#33CCFF" symbol="c"/>
        </relation>

		<relation id="2">
			<relationType name="is-a" mappingSymbol="is"/>
			<relationType name="-is-a" mappingSymbol="is"/>
			<display color="#FF99CC" symbol="is"/>
		</relation>
		<relation id="3">
			<relationType name="return" mappingSymbol="r"/>
			<relationType name="-return" mappingSymbol="r"/>
			<display color="#FFCC99" symbol="r"/>
		</relation>
		<relation id="4">
			<relationType name="extends" mappingSymbol="e"/>
			<relationType name="-extends" mappingSymbol="e"/>
			<display color="#00FFCC" symbol="e"/>
		</relation>
		<relation id="5">
			<relationType name="calls" mappingSymbol="c"/>
			<relationType name="-calls" mappingSymbol="c"/>
			<display color="#C0C0C0" symbol="c"/>
		</relation>
		<relation id="6">
			<relationType name="name" mappingSymbol="n"/>
			<relationType name="-name" mappingSymbol="n"/>
			<display color="#FF3366" symbol="n"/>
		</relation>
		<relation id="7">
			<relationType name="scope" mappingSymbol="s"/>
			<relationType name="-scope" mappingSymbol="s"/>
			<display color="#008080" symbol="s"/>
		</relation>
		<relation id="8">
			<relationType name="has-param" mappingSymbol="p"/>
			<relationType name="-has-param" mappingSymbol="p"/>
			<display color="#FFFFCC" symbol="p"/>
		</relation>
		<relation id="9">
			<relationType name="implements" mappingSymbol="i"/>
			<relationType name="-implements" mappingSymbol="i"/>
			<display color="#FA8072" symbol="i"/>
		</relation>
		<relation id="10">
			<relationType name="throws" mappingSymbol="t"/>
			<relationType name="-throws" mappingSymbol="t"/>
			<display color="#708090" symbol="t"/>
		</relation>
	</ontology>

</ontConfig>

