.TITLE {display: block; font-size: 36pt; font-weigth: bold;  text-decoration: underline; font-style: italic; color: navy}
P { display: block; margin-top: 10 ; font-family:	Arial; font-size: 12pt}
.OntoRama {font-size: 18pt; font-style: italic; }
.firstLetter { color:rgb(25,76,191); font-weight:bold; }
.xmlSnipplet { display: block; background-color: gray }
pre { display: block; background-color: #D3D3D3 }
hr { border-color:rgb(25,76,191); color:rgb(0,0,55); border-bottom-style:solid; border-bottom-width:2px; }
h1 {  color:rgb(0,0,55);  font-family:Georgia; font-size:20pt; text-align:left; margin-left: 10 }
h2 { border-color:rgb(25,76,191); color:rgb(0,0,55); border-bottom-style:solid; border-bottom-width:2px; font-family:Arial,Helvetica,sans-serif; font-size:14pt; }
h3 { border-color:rgb(25,76,191); color:rgb(0,0,55); border-bottom-style:solid; border-bottom-width:2px; font-family:Arial,Helvetica,sans-serif; font-size:12pt; margin-left:20pt; }
body { background-color: white; }
//p,ul,dl,ol,td { color:rgb(0,0,55); font-family:Arial, Helvetica, sans-serif; font-size:10pt; }
//pre,tt { color:rgb(0,0,55); font-family:Courier, monospace; font-size:10pt; }
//p.header { color:rgb(0,0,55); font-family:Arial, Helvetica, sans-serif; font-size:32pt; text-align:center; font-weight:bold; border-color:rgb(180,180,255); border-bottom-style:solid; border-bottom-width:5px; border-top-style:solid; border-top-width:5px; }
<!--
//dt { color:rgb(0,0,55); font-family:Arial, Helvetica, sans-serif; font-size:10pt; font-weight:bold; }
//dd { color:rgb(0,0,55); font-family:Arial, Helvetica, sans-serif; font-size:10pt; }
//a:link, a:visited { color:rgb(70,70,255); text-decoration:none; }
//a:hover, a:active { color:rgb(70,70,255); text-decoration:underline; }
//a.xwebLink:link, a.xwebLink:visited { color:rgb(70,150,100); text-decoration:none; }
//a.xwebLink:hover, a.xwebLink:active { color:rgb(70,150,100); text-decoration:underline; }
//a.localLink:link, a.localLink:visited { color:rgb(70,150,100); text-decoration:none; }
//a.localLink:hover, a.localLink:active { color:rgb(70,150,100); text-decoration:underline; }
//table.footer { margin-top: 10%; }
//ul.publicationNotes { margin-top:0; }
-->

