<?xml version="1.0" encoding="UTF-8"?>
<!--

transitive:
"extends-t"
"calls-t"
"implements-t"
"in-t"

non-transitive:
"is-a"
"in"
"return"
"extends"
"calls"
"name"
"scope"
"has-param"
"implements"
"throws"
-->
<ontConfig>
	<ontology>
		<relation id="1">
			<relationType name="is-in" mappingSymbol="!is-a"/>
			<relationType name="in" mappingSymbol="is-a"/>
			<display color="#33CCFF" symbol="is-in"/>
		</relation>
	</ontology>

</ontConfig>

