<?xml version="1.0" encoding="UTF-8"?>
<!--
http://www.gotomy.com/color.html
-->
<ontConfig>
	<ontology>
		<relation id="1">
			<relationType name="subtype"/>
			<relationType name="supertype"/>
		</relation>
		<relation id="2">
			<relationType name="similar"/>
			<relationType name="equal"/>
		</relation>
		<relation id="3">
			<relationType name="reverse"/>
		</relation>
		<relation id="4">
			<relationType name="part"/>
			<relationType name="partOf"/>
		</relation>
		<relation id="5">
			<relationType name="substance"/>
			<relationType name="substanceOf"/>
		</relation>
		<relation id="6">
            <relationType name="instance"/>
            <relationType name="instanceOf"/>
		</relation>
		<relation id="7">
			<relationType name="complement"/>
			<relationType name="exclusion"/>
		</relation>
		<relation id="8">
			<relationType name="location"/>
			<relationType name="locationOf"/>
		</relation>
		<relation id="9">
			<relationType name="member"/>
			<relationType name="memberOf"/>
		</relation>
		<relation id="10">
			<relationType name="object"/>
			<relationType name="objectOf"/>
		</relation>
		<relation id="11">
			<relationType name="url"/>
			<relationType name="urlOf"/>
		</relation>
		<relation id="12">
			<relationType name="nounType"/>
			<relationType name="nounTypeOf"/>
		</relation>
        <relation id="13">
            <relationType name="description"/>
        </relation>
        <relation id="14">
            <relationType name="creator"/>
        </relation>
        <relation id="15">
            <relationType name="synonym"/>
        </relation>
        <relation id="16">
            <relationType name="relSignature1"/>
        </relation>
        <relation id="17">
            <relationType name="relSignature2"/>
        </relation>
	</ontology>
    <displayInfo>
        <relation id="1">
            <displayInGraphView>
                <createIcon color="#33CCFF">
                    <relationType name="subtype" mappingSymbol="&lt;"/>
                    <relationType name="supertype" mappingSymbol="&gt;"/>
                </createIcon>
            </displayInGraphView>
            <displayInDescriptionWindow>
                <relationType name="supertype" displayLabel="Parents" queryOn="yes"/>
            </displayInDescriptionWindow>
        </relation>
        <relation id="2">
            <displayInGraphView>
                <createIcon color="#FF99CC">
                    <relationType name="similar" mappingSymbol="~"/>
                    <relationType name="equal" mappingSymbol="="/>
                </createIcon>
            </displayInGraphView>
        </relation>
        <relation id="3">
            <displayInGraphView>
                <createIcon color="#FFCC99">
                    <relationType name="reverse" mappingSymbol="-"/>
                </createIcon>
            </displayInGraphView>
        </relation>
        <relation id="4">
            <displayInGraphView>
                <createIcon color="#00FFCC">
                    <relationType name="part" mappingSymbol="p"/>
                    <relationType name="partOf" mappingSymbol="P"/>
                </createIcon>
            </displayInGraphView>
        </relation>
        <relation id="5">
            <displayInGraphView>
                <createIcon color="#C0C0C0">
                    <relationType name="substanceOf" mappingSymbol="S"/>
                    <relationType name="substance" mappingSymbol="s"/>
                </createIcon>
            </displayInGraphView>
        </relation>
        <relation id="6">
            <displayInGraphView>
                <createIcon color="#9999FF">
                    <relationType name="instance" mappingSymbol=":"/>
                    <relationType name="instanceOf" mappingSymbol="^"/>
                </createIcon>
            </displayInGraphView>
        </relation>
        <relation id="7">
        	<!--
            <displayInGraphView>
                <createIcon color="#FF3366">
                    <relationType name="complement" mappingSymbol="/"/>
                    <relationType name="exclusion" mappingSymbol="!"/>
                </createIcon>
            </displayInGraphView>
            -->
            <displayInDescriptionWindow>
                <relationType name="complement" displayLabel="Complement" queryOn="yes"/>
            </displayInDescriptionWindow>            
        </relation>
        <relation id="8">
            <displayInGraphView>
                <createIcon color="#008080">
                    <relationType name="location" mappingSymbol="l"/>
                    <relationType name="locationOf" mappingSymbol="L"/>
                </createIcon>
            </displayInGraphView>
        </relation>
        <relation id="9">
            <displayInGraphView>
                <createIcon color="#FFFFCC">
                    <relationType name="member" mappingSymbol="m"/>
                    <relationType name="memberOf" mappingSymbol="M"/>
                </createIcon>
            </displayInGraphView>
        </relation>
        <relation id="10">
            <displayInGraphView>
                <createIcon color="#FA8072">
                    <relationType name="object" mappingSymbol="o"/>
                    <relationType name="objectOf" mappingSymbol="0"/>
                </createIcon>
            </displayInGraphView>
        </relation>
        <relation id="11">
            <displayInGraphView>
                <createIcon color="#708090">
                    <relationType name="url" mappingSymbol="u"/>
                    <relationType name="urlOf" mappingSymbol="U"/>
                </createIcon>
            </displayInGraphView>
        </relation>
        <relation id="12">
            <displayInGraphView>
                <createIcon color="#996666">
                    <relationType name="nounType" mappingSymbol="n"/>
                    <relationType name="nounTypeOf" mappingSymbol="N"/>
                </createIcon>
            </displayInGraphView>
        </relation>
        <relation id="13">
            <displayInDescriptionWindow>
                <relationType name="description" displayLabel="Description"/>
            </displayInDescriptionWindow>
        </relation>
        <relation id="14">
            <displayInDescriptionWindow>
                <relationType name="creator" displayLabel="Creator"/>
            </displayInDescriptionWindow>
        </relation>
        <relation id="15">
            <displayInDescriptionWindow>
                <relationType name="synonym" displayLabel="Synonym"/>
            </displayInDescriptionWindow>
        </relation>
        <relation id="16">
            <displayInDescriptionWindow>
                <relationType name="relSignature1" displayLabel="Range" queryOn="yes"/>
            </displayInDescriptionWindow>
        </relation>
        <relation id="17">
            <displayInDescriptionWindow>
                <relationType name="relSignature2" displayLabel="Domain" queryOn="yes"/>
            </displayInDescriptionWindow>
        </relation>
    </displayInfo>
	<rdfMapping>
        <map id="1" type="supertype" tag="subClassOf"/>
        <map id="1" type="supertype" tag="subPropertyOf"/>
        <map id="2" type="similar" tag="sameClassAs"/>
        <map id="2" type="similar" tag="samePropertyAs"/>
        <map id="4" type="part" tag="part"/>
        <map id="5" type="substanceOf" tag="substance"/>
        <map id="6" type="instanceOf" tag="type"/>
        <map id="7" type="complement" tag="complementOf"/>
        <map id="8" type="location" tag="location"/>
        <map id="9" type="member" tag="wnMember"/>
        <map id="10" type="object" tag="wnObject"/>
        <map id="11" type="url" tag="url"/>
        <map id="13" type="description" tag="comment"/>
        <map id="14" type="creator" tag="Creator"/>
        <map id="15" type="synonym" tag="label"/>
        <map id="16" type="relSignature1" tag="range"/>
        <map id="17" type="relSignature2" tag="domain"/>
	</rdfMapping>
</ontConfig>
